.table-of-contents ul li {
    margin-bottom: 3px;
}
.first-item-is-title .table-of-contents ul li:first-child {
	color: red !important;
}

.pagetitle .site-title {
    font-weight: bold;
    font-size: 19px;
    margin-bottom: 60px;
}
